[ODBC]
Trace		= Yes
TraceFile		= /tmp/sql.log
ForceTrace		= Yes
Pooling		= No

[TDS]
Description		= FreeTDS Driver
Driver		= /usr/local/Cellar/freetds/0.91/lib/libtdsodbc.so
Driver64		= 
# Setup		= /usr/lib/odbc/libtdsS.so
Setup64		= 
UsageCount		= 1
CPTimeout		= 
CPReuse		= 

