{% extends 'base.html' %}

{% load marc_extras %}

{#{% block page_top_nav %}#}
{#{% endblock %}#}

{% block page_main_content %}
    <div class="row">
        <div class="col-md-12">
{#    <ul class="pager">#}
{#        <li class="previous">#}
{#            <a href="#">&larr; Туда</a>#}
{#        </li>#}
{#        <li class="next">#}
{#            <a href="#">Сюда &rarr;</a>#}
{#        </li>#}
{#    </ul>#}
            {% if doc_item.item_shelving_index %}
                <span class="label label-success tooltip-test"
                      data-toggle="tooltip" data-placement="bottom" title="Полочный индекс">
                    {{ doc_item.item_shelving_index }}</span>
            {% endif %}
            {% if doc_item.item_author_lable %}
                <span class="label label-success tooltip-test"
                      data-toggle="tooltip" data-placement="bottom" title="Авторский знак">
                    {{ doc_item.item_author_lable }}</span>
            {% endif %}
            {% if doc_item.bibliographic_level %}
                <span class="label label-success tooltip-test"
                      data-toggle="tooltip" data-placement="bottom" title="Библиографический уровень">
                    {{ doc_item.bibliographic_level }}</span>
            {% endif %}
            {% if doc_item.item_invent_code %}
                <div class="pull-right">
                    {% for invent_code in doc_item.item_invent_code|force_list %}
                        <span class="label label-success tooltip-test"
                            data-toggle="tooltip" data-placement="bottom" title="Инвентарный номер">
                            {{ invent_code }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="well well-small" style="margin-top: 10px">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" data-src="/static/Image.png" src="/static/book.png">
                    </a>
                    <div class="media-body">
                        <h4>
                            <span class="play" style="text-shadow: 3px 3px 10px rgb(224, 224, 224)">
                                {% include 'Publications/item_detailed_format.html' %}
                            </span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
{#            <div class="panel panel-info">#}
{#                <div class="panel-heading">Информация об издании</div>#}
{#                <div class="panel-body">#}
                    <table class="table table-condensed invisible_table">
                    <tbody>
                        {% if doc_item.item_author_main %}
                            <tr>
                                <td>Автор:</td>
                                <td>{% for author in doc_item.item_author_main|force_list %}
                                        <a class="bnt btn-small" href="search/?q=author&quot;{{ author }}&quot;">
                                            <span class="glyphicon glyphicon-user"></span> {{ author }}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if doc_item.item_authors_other %}
                            <tr>
                                <td>Другие авторы:</td>
                                <td>{% for author in doc_item.item_authors_other|force_list %}
                                        <a class="bnt btn-small" href="search/?q=author&quot;{{ author }}&quot;">
                                            <span class="glyphicon glyphicon-user"></span> {{ author }}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if doc_item.item_faculty %}
                            <tr>
                                <td>Кафедра:</td>
                                <td>{% for faculty in doc_item.item_faculty|force_list %}
                                        <a class="bnt btn-small" href="search/?q=&quot;{{ faculty }}&quot;">
                                            <span class="glyphicon glyphicon-flag"></span> {{ faculty }}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if doc_item.item_speciality %}
                            <tr>
                                <td>Специальность:</td>
                                <td>{% for speciality in doc_item.item_speciality|force_list  %}
                                        <a class="bnt btn-small" href="search/?q=&quot;{{ speciality }}&quot;">
                                            <span class="glyphicon glyphicon-flag"></span> {{ speciality }}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if doc_item.item_type_work_program %}
                            <tr>
                                <td>Вид:</td>
                                <td>{% for type_work_program in doc_item.item_type_work_program|force_list %}
                                        <a class="bnt btn-small" href="search/?q=&quot;{{ type_work_program }}&quot;">
                                            {{ type_work_program }}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if doc_item.item_source_name %}
                            <tr>
                                <td>Название источника:</td>
                                <td><a class="bnt btn-small"
                                        href="search/?q=source&quot;{{ doc_item.item_source_name|force_string }}&quot;">
                                    {{ doc_item.item_source_name|force_string }}</a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if doc_item.item_other_information %}
                            <tr>
                                <td>Прочая информация:</td>
                                <td>{% for info in doc_item.item_other_information|force_list %}
                                        {{ info }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if doc_item.item_place_and_date_of_publication %}
                            <tr>
                                <td>Место и дата издания:</td>
                                <td>{% for place_and_date_of_publication in doc_item.item_place_and_date_of_publication|force_list %}
                                        {{ place_and_date_of_publication }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if doc_item.item_publisher %}
                            <tr>
                                <td>Издатель:</td>
                                <td>{% for publisher in doc_item.item_publisher|force_list %}
                                        <a class="bnt btn-small" href="search/?q=pub&quot;{{ publisher }}&quot;">
                                        <span class="glyphicon glyphicon-bookmark"></span> {{ publisher }}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if doc_item.item_publication_year %}
                            <tr>
                                <td>Год издания:</td>
                                <td>{% for year in doc_item.item_publication_year|force_list %}
                                        <a class="bnt btn-small" href="search/?q=year&quot;{{ doc_item.item_publication_year }}&quot;">
                                        <span class="glyphicon glyphicon-calendar"></span> {{ doc_item.item_publication_year }}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if doc_item.item_series %}
                            <tr>
                                <td>Серия:</td>
                                <td><a class="bnt btn-small" href="search/?q=&quot;{{ doc_item.item_series }}&quot;">
                                    {{ doc_item.item_series }}</a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if doc_item.item_ISBN %}
                            <tr>
                                <td>ISBN:</td>
                                <td>{% for isbn in doc_item.item_ISBN|force_list %}
                                        <span class="glyphicon glyphicon-barcode"></span> {{ isbn }} <br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}

                        {% if doc_item.item_cost %}
                            <tr>
                                <td>Цена:</td>
                                <td>{% for cost in doc_item.item_cost|force_list %}
                                        <a class="bnt btn-small" href="search/?q=&quot;{{ cost }}&quot;">
                                         <span class="glyphicon glyphicon-shopping-cart"></span> {{ cost }} руб.</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if doc_item.item_entrence_date %}
                            <tr>
                                <td>Добавлено:</td>
                                <td><a class="bnt btn-small"
                                        href="search/?q=&quot;{{ doc_item.item_entrence_date|force_string }}&quot;">
                                        <span class="glyphicon glyphicon-time"></span>
                                        {{doc_item.item_entrence_date|force_string}}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if doc_item.item_last_change_timestamp %}
                            <span class="dimed">
                                <tr>
                                    <td>Изменено:</td>
                                    <td>{{ doc_item.item_last_change_timestamp }}</td>
                                </tr>
                            </span>
                        {% endif %}
                    </tbody>
                    </table>
{#                </div>#}
{#            </div>#}
        </div>
        {% if doc_item.marc_indexed_tags.exists %}
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading"><span class="glyphicon glyphicon-tags"></span>  Ключевые слова</div>
                    <div class="panel-body">
                        {% for tag in doc_item.marc_indexed_tags.all %}
                            {% if tag.cnt > 1 %}
                            <span style="line-height: 2;">
                                <a class="btn btn-default btn-xs
                                    {% if tag.term|length > 60 %} tooltip-test" data-toggle="tooltip" data-placement="top"
                                    title="{{ tag.term }}"
                                    {% else %}"
                                    {% endif %}
                                    href="search/?q=tag&quot;{{ tag.term }}&quot;">
                                    <span style="opacity: 0.4;">
                                        <span class="glyphicon glyphicon-tag"></span>
                                    </span>
                                    {{tag.term|truncatechars:"60" }}
                                    <span class="badge tooltip-test" style="font-size: 85% "
                                        data-toggle="tooltip" data-placement="top"
                                        title="Колличество совпадений">
                                        {{ tag.cnt }}
                                    </span>
                                </a>
                            </span>
                            {% else %}
                            <small>
                                <a href="search/?q=tag&quot;{{ tag.term }}&quot;" style="color: #a9a9a9;">
                                    <span style="opacity: 0.4;"><span class="glyphicon glyphicon-tag"></span>
                                    </span>&nbsp;{{tag.term}}
                                </a>
                            </small>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% if doc_item.inventory_number.exists %}
            <div class="col-md-7">
                <div class="panel panel-default small">
                    <div class="panel-heading">Инвентарная информация</div>
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <td>Инвентарный номер</td>
                                <td>Номер УК(Б/У)</td>
                                <td>Фонд</td>
                                <td>Цена</td>
                                <td>Кол-во</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for inv_records in doc_item.inventory_number.all %}
                                <tr>
                                    <td>
                                        {% if inv_records.t090e %}{{ inv_records.t090e }}{% else %}-{% endif %}
                                    </td>
                                    <td>
                                        {% if inv_records.t990n %}{{ inv_records.t990n }}{% else %}-{% endif %}
                                    </td>
                                    <td>
                                        {% if inv_records.sigla.fullname %}{{ inv_records.sigla.fullname|capfirst }}
                                        {% elif inv_records.t090f %}{{ inv_records.t090f|capfirst }}
                                        {% else %}-{% endif %}
                                    </td>
                                    <td>
                                        {% if inv_records.t876c %}{{ inv_records.t876c }}{% else %}-{% endif %}
                                    </td>
                                    <td>
                                        {% if inv_records.cnt %}{{ inv_records.cnt }} шт.{% else %}-{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
