{% extends 'base.html' %}

{% block page_main_content %}

    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Туда</a>
        </li>
        <li class="next">
            <a href="#">Сюда &rarr;</a>
        </li>
    </ul>

    <h3> <span class="label label-info">
        {{ bicat_doc.item_shelving_index }}
    </span> </h3>

    <h4>
        {% if bicat_doc.item_author %} {{ bicat_doc.item_author }} -
        {% else %} Автор не указан {% endif %}
        {{ bicat_doc.item_title }} - {{ bicat_doc.item_publish }} - {{ bicat_doc.item_pages }}
    </h4>

    <small class="text-info">
        <ul class="nav nav-list">
            <li> серия: {{ bicat_doc.item_series }} </li>
            <li> ISBN:{{ bicat_doc.item_ISBN }} </li>
            <li> Цена: {{ bicat_doc.item_cost }} </li>
        {% if bicat_doc.item_tags %}
            <li>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Тэги
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% for tag in bicat_doc.item_tags %}
                                <span class="label label-inverse"><a href="{{ tag.get_absolute_url }}">{{tag}}</a></span>
                            {% endfor %}
                        </div>
                    </div>

            </li>
        {% endif %}
            <li> добавлено: {{  bicat_doc.item_entrence_date }} </li>
            <li> изменено: {{ bicat_doc.item_last_change_timestamp }} </li>
        </ul>
    </small>
{% endblock %}