{% extends 'base.html' %}

{% block page_main_content %}

    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Туда</a>
        </li>
        <li class="next">
            <a href="#">Сюда &rarr;</a>
        </li>
    </ul>

    <h3>
        <span class="label label-info">{{ doc_item.item_shelving_index }}</span>
        <span class="label label-info">{{ doc_item.item_author_lable }}</span>
    </h3>

    <h4>
        {% if doc_item.item_author_main %} <p>{{ doc_item.item_author_main }}</p>{% endif %}
        {{ doc_item.item_title }}
        {% if doc_item.item_next_title %}{{ doc_item.item_next_title }}:{% endif %}
        {% if doc_item.item_responsibility %} / {{ doc_item.item_responsibility }}{% endif %}
        {% if doc_item.item_author %}{{ doc_item.item_author }}{% endif %} - {{ doc_item.item_place }}: {{ doc_item.item_publisher }}, {{ doc_item.item_publication_year }} - {{ doc_item.item_pages }}
    {% if doc_item.item_covering_matireals %} :{{ doc_item.item_covering_matireals }}{% endif %}
    {% if doc_item.item_illustrations %}: {{ doc_item.item_illustrations }}{% endif %}
    {% if doc_item.item_series %} - ({{ doc_item.item_series }}) {% endif %}
    {% if doc_item.item_format %}{{ doc_item.item_format }}{% endif %}
    {% if doc_item.item_bibliography %} - {{ doc_item.item_bibliography }}{% endif %}
    {% if doc_item.item_ISBN %} - ISBN {{ doc_item.item_ISBN }}{% endif %}
    {% if doc_item.item_cost %}: {{ doc_item.item_cost }}{% endif %}
    </h4>

    <small class="text-info">
        <ul class="nav nav-list">
            <li> серия: {{ doc_item.item_series }} </li>
            <li> ISBN:{{ doc_item.item_ISBN }} </li>
            <li> Цена: {{ doc_item.item_cost }} </li>
        {% if doc_item.item_tags %}
            <li>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Тэги
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% for tag in doc_item.item_tags %}
                                <span class="badge">{{tag}}</span>
                            {% endfor %}
                        </div>
                    </div>

            </li>
        {% endif %}
            <li> добавлено: {{  doc_item.item_entrence_date }} </li>
            <li> изменено: {{ doc_item.item_last_change_timestamp }} </li>
        </ul>
    </small>
{% endblock %}