{# Формат вывода в детальном виде #}
{% load force_string force_list place_initials_first from marc_extras %}
{% if doc_item.item_author_main %} <p><i>{{ doc_item.item_author_main|force_string }}</i></p>{% endif %}
{% if doc_item.item_title %}{{ doc_item.item_title|force_string }}{% endif %}
{% if doc_item.item_next_title %}:{{ doc_item.item_next_title|force_string }}{% endif %} /
{% if doc_item.item_responsibility %} {{ doc_item.item_responsibility|force_string }}{% endif %}
{% if doc_item.item_author_main %}
{{ doc_item.item_author_main|force_string|place_initials_first}}
    {% if doc_item.item_authors_other%}, {{doc_item.item_authors_other|force_string }}
    {% endif %}
    {% else %} {% if doc_item.item_authors_other%}{{doc_item.item_authors_other|force_string }}{% endif %}
{% endif %}
{% if doc_item.item_place %}- {{ doc_item.item_place|force_string }}{% endif %}
{% if doc_item.item_publisher %}: {{ doc_item.item_publisher|force_string }} {% endif %}
{% if doc_item.item_publication_year %}, {{ doc_item.item_publication_year|force_string }} {% endif %}
{% if doc_item.item_pages %} - {{ doc_item.item_pages|force_string }} {% endif %}
{% if doc_item.item_covering_matireals %} :{{ doc_item.item_covering_matireals|force_string }}{% endif %}
{% if doc_item.item_illustrations %}: {{ doc_item.item_illustrations|force_string }}{% endif %}
{% if doc_item.item_series %} - ({{ doc_item.item_series|force_string }}) {% endif %}
{% if doc_item.item_format %}{{ doc_item.item_format|force_string }}{% endif %}
{% if doc_item.item_source_name %}// {{ doc_item.item_source_name|force_string }}.&mdash;{% endif %}
{% if doc_item.item_place_and_date_of_publication %}{{ doc_item.item_place_and_date_of_publication|force_string }}{% endif %}
{% if doc_item.item_other_information %}{{ doc_item.item_other_information|force_string }}{% endif %}
{% if doc_item.item_bibliography %} - {{ doc_item.item_bibliography|force_string }}{% endif %}
{% if doc_item.item_ISBN %} - ISBN {{ doc_item.item_ISBN|force_string }}{% endif %}
{% if doc_item.item_cost %}: <span style="color: #a9a9a9;">{{ doc_item.item_cost|force_string }} руб.</span>{% endif %}
{# Модный знак рубля #}
{#<span class="price">999 &#8399;</span>#}
{# или #}
{#<span style="position: absolute; font-size: 80%; line-height: 155%; ">=</span>P#}