 /*ul*/
/*{*/
    /*list-style-image: url(images/img.gif);*/
    /*list-style: none;*/

/*}*/

/*.list-icon-book {*/
    /*background-image: url("bootstrap/img/glyphicons-halflings-white.png");*/
    /*background-position: -48px -48px;*/
/*}*/
 .price {
     font-family: 'PT Sans', serif;
 }

.tag {
    cursor: pointer;
}

.dimed {

    color: #a9a9a9;
}

 .footer {
     text-align: center;
     padding: 10px 0;
     margin-top: 20px;
     border-top: 1px solid #e5e5e5;
 }

.ptsans {
    font-family: PT Sans, Arial, sans-serif;
}