{% extends "base.html" %}

{% block page_main_content %}

    <ul class="nav nav-list">
    {% for issue in issues %}
        {% if issue.slug == 'index' %}
            <div class="hero-unit">
                <div class="media">
                    <span class="pull-left">
                        {#<img src="/static/logo_0.png" class="img-circle">#}
                    </span>
                    <h3>
                        {{ issue.name }}
                    </h3>
                    <small> {{ issue.issue }} </small>
                </div>
            </div>
        {% else %}
            <li>
                <a href="{{ issue.get_absolute_url }}">{{ issue.name }}</a>
            </li>
        {% endif %}
    </ul>
    {% endfor %}
{% endblock %}