{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{% static addressbook.png %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="каталог">
        <meta name="catalog" content="">
        <meta name='yandex-verification' content='5b20da976ced0361' />
        <link rel="stylesheet" type="text/css" href={% static 'bootstrap/css/bootstrap.css' %} />
        <link rel="stylesheet" type="text/css" href={% static 'sticky-footer-navbar.css' %}/>
        <link rel="stylesheet" type="text/css" href={% static 'base.css' %} />

        <title>ЭК Электронный Каталог библиотеки {% block title %}{% endblock %}</title>
    </head>

    <body>
        <div id="wrap">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">ЭК</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Разделы<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% block col-menu %}
                                        {% include "menu.html" %}
                                    {% endblock %}
                                </ul>
                            </li>
                        </ul>
                        <div class="row col-lg-8 col-md-7 col-sm-6">
                            <form class="navbar-form" role="search"
                                  action="{% block search_url %}search/{% endblock %}" method="GET">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <input type="text" class="form-control"
                                           placeholder="{% block search_hint %}поиск ...{% endblock %}"
                                           value="{% block search_value %}{% endblock %}" name="q">
                                </div>
                            </form>
                        </div>
                        <ul class="nav navbar-nav">
{#                            <li class="disabled"><a href="{% url catalog:search_ext %}">Расширенный поиск</a></li>#}
                            <li class="disabled"><a href="#" onclick="return false;">Расширенный поиск</a></li>
                        </ul>
                        <p class="navbar-text pull-right"> <a href="#" class="navbar-link">Гость</a></p>
                    </div>
                </div>
            </div>

            <div class="container">
                {% block page_top_nav %}
                    <div class="nav menu">
                        <ul class="nav nav-tabs">
                            {% include "menu.html" %}
                        </ul>
                    </div>
                {% endblock %}
                {% block page_top_alert %}{% endblock %}
                {% block page_main_header %}{% endblock %}
                {% block page_main_content %}{% endblock %}
            </div>
        </div>

        {% block page_main_footer %}
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6" style="margin-top: 10px;">
                                {% include "metrics.html" %}
                            </div>
                            <div class="col-md-6">
                                <p class="text-muted text-right credit">
                                    <a class="btn btn-link btn-xs" href="{{ contact_url }}">{{ contact_caption }}</a>
                                    {{ app_version }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block javascript %}
            <script type="text/javascript" src={% static 'jquery-1.10.2.js' %}></script>
            <script type="text/javascript" src={% static 'bootstrap/js/bootstrap.js' %}></script>
            <script type="text/javascript" src={% static 'base.js' %}></script>
        {% endblock %}

    </body>
</html>
