{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Каталог</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="каталог">
    <meta name="catalog" content="">
    <link rel="stylesheet" type="text/css" href={% static 'bootstrap/css/bootstrap-responsive.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'bootstrap/css/bootstrap.css' %} />
    <script type="text/javascript" src={% static 'jquery-1.8.3.js' %}></script>
    <script type="text/javascript" src={% static 'bootstrap/js/bootstrap.js' %}></script>

    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">BiCat</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% block tag-menu %}{% endblock %}
                    <li class="active"><a href="/">о поиске</a></li>
                    <li><a href="/about">настройки</a></li>
                </ul>
            </div><!--/.nav-collapse -->

            <form class="navbar-search pull-left" action="/search" method="post">
                <input type="text" class="search-query" placeholder="..." name="q">
            </form>

        </div>
    </div>
</div>


<div class="container-fluid">
<div class="row-fluid">
{#    <div class="span4">#}
{##}
{##}
{#    </div>#}
    <div class="span0">
        {% block page_main_content %}
            <p>Контент чо</p>
        {% endblock %}

        {% block page_main_footer %}
            <p>Подвал страницы</p>
        {% endblock %}

    </div>
</div>


{% block page_main_header %}
    <p>Заголовок страницы</p>
{% endblock %}
</div>
</body>
</html>